body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

html {
  overflow-y: scroll; 
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
